Repository isl-org/OpenBot, pull requests merged in 2022-12, with the labels that each got.

#313 OS independent call to applyStyle
  android/build.gradle
Labels: android-app

#317 Add efficientDet models
  android/app/README.md
  android/app/download.gradle
  android/app/src/main/assets/config.json
  android/app/src/main/java/org/openbot/autopilot/AutopilotFragment.java
  android/app/src/main/java/org/openbot/common/ControlsFragment.java
  android/app/src/main/java/org/openbot/logging/LoggerFragment.java
  android/app/src/main/java/org/openbot/modelManagement/EditModelDialogFragment.java
  android/app/src/main/java/org/openbot/modelManagement/ModelAdapter.java
  android/app/src/main/java/org/openbot/modelManagement/ModelManagementFragment.java
  android/app/src/main/java/org/openbot/objectNav/ObjectNavFragment.java
  android/app/src/main/java/org/openbot/original/CameraActivity.java
  android/app/src/main/java/org/openbot/original/DefaultActivity.java
  android/app/src/main/java/org/openbot/pointGoalNavigation/PointGoalNavigationFragment.java
  android/app/src/main/java/org/openbot/tflite/Autopilot.java
  android/app/src/main/java/org/openbot/tflite/AutopilotFloat.java
  android/app/src/main/java/org/openbot/tflite/Detector.java
  android/app/src/main/java/org/openbot/tflite/DetectorDefault.java
  android/app/src/main/java/org/openbot/tflite/DetectorYoloV4.java
  android/app/src/main/java/org/openbot/tflite/DetectorYoloV5.java
  android/app/src/main/java/org/openbot/tflite/Model.java
  android/app/src/main/java/org/openbot/tflite/Navigation.java
  android/app/src/main/res/values/strings.xml
Labels: android-app

#319 update badges
  README.md
Labels: ci

#321 App ReadMe: add animations and refine text
  android/app/README.md
  docs/images/screen_main.gif
  docs/images/screen_main.jpg
  docs/images/screen_model_management.gif
  docs/images/screen_model_management.jpg
  docs/images/screen_robot_info.gif
  docs/images/screen_settings.jpg
Labels: documentation
