Repository isl-org/OpenBot, pull requests merged in 2022-03, with the labels that each got.

#264 improve tflite error handling
  android/app/src/main/java/org/openbot/tflite/Autopilot.java
  android/app/src/main/java/org/openbot/tflite/DetectorFloatYoloV4.java
Labels: android-app

#267 Object nav benchmarking
  android/app/README.md
  android/app/src/main/java/org/openbot/objectNav/ObjectNavFragment.java
  android/app/src/main/java/org/openbot/utils/MovingAverage.java
Labels: documentation, android-app

#271 A short firmware fix for the coast_mode issue.
  firmware/openbot_nano/openbot_nano.ino
Labels: bug
